.diagonal-arrow {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(77, 88, 88, 0.5);
    border-radius: 50%;
    overflow: hidden;
    &:hover g {
        animation: diagonalArrow 1s ease-out infinite;
    }
}
@keyframes diagonalArrow {
    0% {
        transform: translate(0, 0);
    }
    90% {
        transform: translate(46px, -46px);
    }
    100% {
        transform: translate(46px, -46px);
    }
}