.project-card {
    --inner-offset: 8px;
    text-decoration: none;
    color: var(--color-white);
    position: relative;
    @include to(600px){
        --inner-offset: 4px;
    }
    &__title {
        @include to(600px){
            padding-right: 46px;
        }
    }
    &__img {
        position: relative;
        &-wrap {
            padding-bottom: 62.5%;
            position: relative;
            z-index: -1;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__labels {
        position: absolute;
        left: var(--inner-offset);
        top: var(--inner-offset);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        gap: 8px;
        @include to(600px){
            position: static;
            width: 100%;
            gap: 2px;
            margin-top: 20px;
        }
    }
    &__deadline {
        position: absolute;
        right: var(--inner-offset);
        top: var(--inner-offset);
        display: flex;
        align-items: center;
    }
    &__logo {
        position: absolute;
        right: var(--inner-offset);
        bottom: var(--inner-offset);
        @include to(600px){
            bottom: auto;
            top: calc(62.5% - var(--inner-offset));
        }
    }
    &__eoselya {
        position: absolute;
        left: var(--inner-offset);
        bottom: var(--inner-offset);
        @include to(600px){
            bottom: auto;
            top: calc(62.5% - var(--inner-offset));
        }   
    }
    &__text {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__label {
        border-radius: 100px;
        padding: 7px 12px;
        @include text-style-1920-tiny;
        color: var(--color-black);
        background-color: var(--color-white);
        @include to(600px){
            background-color: transparent;
            color: var(--color-white);
            border: 1px solid rgba(219, 226, 234, 0.10);
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 8px;
            padding-right: 8px;
        }
        img,
        svg {
            height: 18px;
            width: auto;
        }
        &--alert {
            background-color: var(--color-red);
            color: var(--color-white);
        }
        &--dark {
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }
    &__adress {
        width: 100%;
    }
    &__arrow {
        border-radius: 1000px;
        background: rgba(77, 88, 88, 0.5);
        width: 46px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include to(600px){
            position: absolute;
            right: var(--inner-offset);
            bottom: var(--inner-offset);
        }
    }

    @media (hover: hover) and (min-width: 1025px) {
        &__img-wrap {
            overflow: hidden;
        }
        &__img-wrap img {
            transition: .5s ease-in-out;
        }
        &:hover &__img-wrap img {
            transform: scale(1.05);
        }
        &:hover .diagonal-arrow g {
            animation: diagonalArrow 1s ease-out infinite;
        }
    }
}