
extends ../layout/main
block variable
  -
    var title_page = 'Планування 2-к / 247.4 м² '
    var id_page = 'id-page-single-flat'
    var class_page = 'class-page-single-flat'
    var breadcrumbsClass = 'breadcrumbs--on-light-background'
    var breadcrumbsSubitem = [
      {
        label: 'Квартири',
        link: '/plannings'
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/single-flat.bundle.js')
block content
  .single-flat
    .single-flat__content
      .single-flat__top
        include ../includes/breadcrumbs.pug
        a(href="/plannings").single-flat-back-button
          .single-flat-back-button__icon
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.3846 4L4 12M4 12L11.3846 20M4 12H20" stroke="#4D5858" stroke-width="2"/>
            </svg>
          span.hide-on-tablet.hide-on-mobile Назад
        .single-flat__title
          span.text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2.color-black 2-к
          span /
          span.text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2.color-black 247.4 м
        .single-flat__favourite
          .text-uppercase.color-black.hide-on-tablet.hide-on-mobile(data-favourites-button-title="52" data-in-favourites="Додано до порівняння" data-not-in-favourites="ДОДАТИ У ПОРІВНЯННЯ")
          button(type="button" data-favourite-single-button='52').plannings-favourite-button
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path d="M16.9 13.3333C17.943 12.36 19 11.1933 19 9.66667C19 8.69421 18.5944 7.76158 17.8724 7.07394C17.1503 6.38631 16.1711 6 15.15 6C13.918 6 13.05 6.33333 12 7.33333C10.95 6.33333 10.082 6 8.85 6C7.82892 6 6.84965 6.38631 6.12764 7.07394C5.40562 7.76158 5 8.69421 5 9.66667C5 11.2 6.05 12.3667 7.1 13.3333L12 18L16.9 13.3333Z" stroke="#4D5858" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        .single-flat__tabs
          .tab(data-flat-image="./assets/images/test-plan.jpg").active.text-style-1920-button 
            span ПЛАНУВАННЯ
          .tab(data-flat-image="./assets/images/test-plan.jpg").text-style-1920-button 
            span НА ПОВЕРСІ
          .tab(data-flat-image="./assets/images/test-plan.jpg").text-style-1920-button 
            span У ЧЕРЗІ
      .single-flat__info
        .text-align-center
          div ЖИТЛОВИЙ КОМПЛЕКС
          .text-style-1920-h-4.text-style-768-h-4.color-black PARK AVENUE
        div.text-style-1920-body-titles.single-flat__info-group 
          .single-flat__label Черга: 3
          .single-flat__label Секція: 3
          .single-flat__label ПОВЕРХ: 15
        .text-align-center
          .text-style-1920-tiny.text-uppercase Доступна за програмою
          img(src="./assets/images/eoselya.svg", alt="eoselya", srcset="").eoselya-logo
        .single-flat__label Дата здачі: III квартал 2026
        .single-flat__info-group.text-align-center
          .text-color-body-description
            .text-style-1920-tiny.text-uppercase Планування також зустрічається на таких поверхах:
            div 7, 8, 12, 18, 19
        .single-flat__info-group.hide-on-mobile
          +button-primary('ЗАБРОНЮВАТИ')(data-callback-popup-call)
      .single-flat__images
        .single-flat__image-block
          .single-flat__image-block-wrap
            img(src="./assets/images/single-flat-image.jpg", alt="flat image", srcset="" loading="lazy" data-flat-image-container)
      .single-flat__info2
        .single-flat__info2-group 
          .color-black.single-flat__info2-row.text-uppercase 
            span Загальна площа: 
            span 76.3 м²
          .color-black.single-flat__info2-row.text-uppercase
            span Житлова площа: 
            span 76.3 м²
        .single-flat__info2-group.text-style-1920-tiny 
          .color-gray.single-flat__info2-row.text-uppercase 
            span Гардеробна:
            span 5.87 м²
          .color-gray.single-flat__info2-row.text-uppercase 
            span Гардеробна:
            span 5.87 м²
        .single-flat__info2-group.hide-on-tablet
          a(type="button" data-pdf-download).button-main.button-main--transparent
            span ЗАВАНТАЖИТИ PDF 
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.3394 2.63797C11.0534 2.50018 10.7307 2.47108 10.3932 2.52469C9.65266 2.6425 9.20655 3.12747 8.99179 3.74344C8.7887 4.326 8.78045 5.04175 8.85995 5.75125C9.02032 7.18198 9.56402 8.81527 10.0103 9.87918L10.0113 9.88211C9.47269 11.3296 8.69664 13.191 7.76425 15.0218C7.40887 15.7196 7.03223 16.4068 6.64218 17.0628C5.29998 17.6512 4.27189 18.2306 3.50351 18.7776C2.41955 19.5494 1.79804 20.2908 1.58456 20.9348C1.47601 21.2626 1.4604 21.6102 1.60702 21.9143C1.75928 22.2299 2.04534 22.4137 2.35898 22.4749C2.94629 22.589 3.6398 22.2962 4.23886 21.7337L4.23984 21.7347C5.34501 20.798 6.39382 19.3974 7.33651 17.8499C7.8126 17.6479 8.33048 17.443 8.89316 17.2386C11.401 16.385 13.3113 15.8884 14.8082 15.597C15.333 15.9474 15.8589 16.2456 16.3746 16.4915C17.5117 17.0336 18.6022 17.3362 19.5064 17.4475C19.958 17.5031 20.3728 17.5122 20.7291 17.4749C21.0761 17.4385 21.4093 17.3545 21.6656 17.1917C22.0524 16.9458 22.3562 16.6207 22.4615 16.219C22.5737 15.7912 22.4321 15.3871 22.148 15.0774C21.8756 14.7807 21.4697 14.5609 20.9889 14.4153C20.502 14.268 19.9051 14.1859 19.2125 14.1858C18.2271 14.1858 16.9774 14.1895 15.0338 14.5374C13.5737 13.4894 12.1472 11.9658 11.0953 9.83133C11.2011 9.53838 11.2973 9.26586 11.3805 9.01688C11.7511 7.95654 12.1832 6.36295 12.2486 5.05399C12.2807 4.41219 12.2305 3.75345 11.9684 3.26102C11.8307 3.00281 11.6269 2.77662 11.3394 2.63797ZM5.60702 18.6673C4.95551 19.5917 4.27848 20.3895 3.59237 20.971L3.57089 20.9905C3.08256 21.456 2.69373 21.5211 2.55038 21.4934C2.522 21.4879 2.50902 21.4805 2.50644 21.4788C2.50258 21.4685 2.48324 21.4019 2.53378 21.2493C2.64839 20.9038 3.06532 20.3171 4.08359 19.5921C4.49626 19.2983 5.00015 18.9884 5.60702 18.6673ZM19.2125 15.1858C19.8298 15.1859 20.3257 15.2595 20.6988 15.3723C21.078 15.4871 21.3017 15.6334 21.4117 15.7532C21.5095 15.8599 21.5044 15.9244 21.4937 15.9651C21.4762 16.0322 21.3978 16.1763 21.1295 16.347C21.058 16.3923 20.8985 16.4521 20.6246 16.4807C20.3598 16.5084 20.023 16.5039 19.6285 16.4554C18.8394 16.3582 17.853 16.0877 16.8053 15.5882C16.6484 15.5134 16.4905 15.4321 16.3316 15.347C17.5914 15.1846 18.4827 15.1858 19.2125 15.1858ZM10.6256 11.0774C11.5165 12.6351 12.6008 13.8589 13.7379 14.8011C12.3467 15.1136 10.6548 15.5836 8.5621 16.2962L8.55234 16.2991C8.41126 16.3504 8.27329 16.4041 8.1373 16.4554C8.31458 16.1298 8.48905 15.8024 8.65585 15.4749C9.43397 13.947 10.1052 12.4001 10.6256 11.0774ZM10.5494 3.512C10.7354 3.48244 10.8432 3.50881 10.9049 3.53836C10.9648 3.56724 11.027 3.62186 11.0855 3.73172C11.2157 3.9763 11.2804 4.40654 11.2506 5.00418C11.1971 6.07497 10.8579 7.41281 10.5269 8.41629C10.2278 7.54272 9.95447 6.53546 9.85409 5.63993C9.78071 4.98504 9.80606 4.44562 9.93612 4.07254C10.0545 3.73321 10.2418 3.56113 10.5494 3.512Z" fill="#DBE2EA"/>
            </svg>
          a(type="button" data-pdf-download).button-main.button-main--transparent
            span ПЕРЕГЛЯНУТИ У 3D
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 11.4999C8.92048 11.4999 6.1104 11.9468 4.05273 12.6845C3.02624 13.0526 2.15999 13.5026 1.54102 14.0273C0.924325 14.55 0.500161 15.1956 0.5 15.9433C0.5 16.628 0.8567 17.2286 1.38867 17.7245C1.92029 18.22 2.66484 18.6504 3.54883 19.0107C5.10881 19.6464 7.18342 20.0974 9.51465 20.287L7.6084 22.6894L8.3916 23.3105L10.8916 20.162L11.1309 19.8603L10.9004 19.5517L8.40039 16.2011L7.59961 16.7988L9.44824 19.2773C7.25295 19.0869 5.33787 18.659 3.92676 18.0839C3.10656 17.7496 2.48153 17.3763 2.07031 16.9931C1.65992 16.6105 1.5 16.2561 1.5 15.9433C1.50016 15.6024 1.69144 15.2105 2.1875 14.79C2.68171 14.3711 3.42675 13.9715 4.39062 13.6259C6.31417 12.9363 9.00443 12.4999 12 12.4999C14.9956 12.4999 17.6858 12.9363 19.6094 13.6259C20.5733 13.9715 21.3183 14.3711 21.8125 14.79C22.3086 15.2105 22.4998 15.6024 22.5 15.9433C22.5 16.2561 22.3401 16.6105 21.9297 16.9931C21.5185 17.3763 20.8934 17.7496 20.0732 18.0839C18.4359 18.7512 16.1203 19.2222 13.4756 19.3515L13.5 19.8505L13.5244 20.3505C16.2452 20.2175 18.6799 19.7326 20.4512 19.0107C21.3352 18.6504 22.0797 18.22 22.6113 17.7245C23.1433 17.2286 23.5 16.628 23.5 15.9433C23.4998 15.1956 23.0757 14.55 22.459 14.0273C21.84 13.5026 20.9738 13.0526 19.9473 12.6845C17.8896 11.9468 15.0795 11.4999 12 11.4999ZM19.2354 1.53802C18.6267 1.53806 18.1047 1.70816 17.6699 2.04779C17.2381 2.38467 16.9067 2.87364 16.6758 3.51459C16.4475 4.15317 16.333 4.92395 16.333 5.82611C16.333 6.73365 16.4476 7.50808 16.6758 8.14935C16.904 8.78794 17.234 9.27626 17.666 9.61322C18.098 9.94741 18.6213 10.1142 19.2354 10.1142C19.8493 10.1142 20.3727 9.94731 20.8047 9.61322C21.2368 9.27626 21.5667 8.78794 21.7949 8.14935C22.0232 7.50805 22.1377 6.73371 22.1377 5.82611C22.1377 4.92395 22.022 4.15317 21.791 3.51459C21.5628 2.8736 21.2315 2.38466 20.7969 2.04779C20.3648 1.70812 19.844 1.53802 19.2354 1.53802ZM12.252 1.53802C11.7819 1.53806 11.3593 1.63992 10.9844 1.84369C10.6121 2.04748 10.2938 2.3462 10.0303 2.74017C9.76671 3.13144 9.56632 3.61415 9.42773 4.18744C9.28915 4.75809 9.21973 5.41315 9.21973 6.15228C9.21973 6.924 9.30537 7.56525 9.47656 8.07611C9.64776 8.58425 9.87462 8.98814 10.1572 9.28705C10.4398 9.58313 10.7524 9.79392 11.0947 9.91888C11.437 10.0438 11.7798 10.1088 12.1221 10.1142C12.6844 10.1196 13.1732 9.99694 13.5889 9.74701C14.0073 9.4943 14.3325 9.15506 14.5635 8.72845C14.7945 8.29911 14.9102 7.82581 14.9102 7.30951C14.9101 6.7716 14.7899 6.29452 14.5508 5.87885C14.3117 5.46057 13.9942 5.13276 13.5977 4.89642C13.201 4.65735 12.7633 4.53808 12.2852 4.53802C11.9998 4.53802 11.7291 4.58312 11.4736 4.67279C11.2182 4.76246 10.9844 4.88986 10.7725 5.0556C10.5633 5.21858 10.3826 5.41556 10.2305 5.64642H10.165C10.1678 4.6303 10.3541 3.84069 10.7236 3.27826C11.0959 2.71597 11.6054 2.43458 12.252 2.43451C12.692 2.43451 13.0453 2.55853 13.3115 2.8056C13.5778 3.05286 13.7572 3.36424 13.8496 3.7392H14.8447C14.7768 3.30715 14.6274 2.9252 14.3965 2.59369C14.1655 2.26217 13.8659 2.00406 13.499 1.81927C13.135 1.63191 12.7192 1.53802 12.252 1.53802ZM4.89453 1.53802C4.41373 1.53807 3.97236 1.63066 3.57031 1.81537C3.17086 2.00015 2.84689 2.25826 2.59961 2.58978C2.35244 2.91853 2.22138 3.30181 2.20508 3.7392H3.18262C3.1962 3.46219 3.28322 3.22579 3.44336 3.03021C3.60369 2.83184 3.81076 2.68035 4.06348 2.57709C4.31884 2.47118 4.59096 2.41888 4.87891 2.41888C5.18583 2.41893 5.45227 2.47688 5.67773 2.59369C5.90587 2.7105 6.08206 2.87382 6.20703 3.08295C6.33196 3.29207 6.39446 3.53784 6.39453 3.82025C6.39453 4.11371 6.32271 4.36947 6.17871 4.58685C6.03741 4.80424 5.84061 4.97315 5.58789 5.09271C5.33797 5.21223 5.0472 5.27139 4.71582 5.27142H4.04688V6.16888H4.71582C5.1396 6.16892 5.49858 6.23498 5.79199 6.3681C6.08534 6.50125 6.30783 6.68645 6.45996 6.92279C6.61204 7.15637 6.68841 7.42647 6.68848 7.73334C6.68848 8.02664 6.60956 8.28502 6.45215 8.50775C6.29454 8.73058 6.07698 8.90521 5.7998 9.03021C5.52265 9.15519 5.20437 9.21771 4.8457 9.21771C4.5252 9.21768 4.23321 9.16445 3.96973 9.05853C3.70628 8.95261 3.49309 8.80307 3.33008 8.61029C3.16703 8.41464 3.07447 8.18205 3.05273 7.91302H2.02539C2.04713 8.35045 2.18032 8.73486 2.4248 9.06635C2.67209 9.39515 3.00535 9.65207 3.42383 9.83685C3.84495 10.0215 4.32439 10.1142 4.8623 10.1142C5.40305 10.1142 5.88567 10.0111 6.30957 9.80463C6.73322 9.5982 7.06702 9.31539 7.31152 8.95697C7.55881 8.59556 7.68262 8.18714 7.68262 7.73334C7.68254 7.20367 7.53435 6.75989 7.23828 6.40131C6.94215 6.03997 6.53091 5.81545 6.00391 5.72845V5.66302C6.42481 5.53533 6.75747 5.30581 7.00195 4.97455C7.24924 4.64303 7.37305 4.24153 7.37305 3.77142C7.37298 3.37754 7.2735 3.0104 7.0752 2.67084C6.87684 2.33139 6.59302 2.05793 6.22363 1.8515C5.85411 1.64235 5.41073 1.53802 4.89453 1.53802ZM19.2354 2.41888C19.6375 2.41888 19.9813 2.55199 20.2666 2.8183C20.5546 3.08454 20.7746 3.47146 20.9268 3.97943C21.0816 4.48757 21.1592 5.1033 21.1592 5.82611C21.1592 6.91292 20.9912 7.74991 20.6543 8.33685C20.3173 8.92381 19.844 9.21771 19.2354 9.21771C18.8306 9.21767 18.4843 9.08566 18.1963 8.8222C17.911 8.55868 17.6922 8.17415 17.54 7.66888C17.3879 7.16345 17.3115 6.54894 17.3115 5.82611C17.3115 4.74198 17.4817 3.90384 17.8213 3.31146C18.1609 2.71642 18.6322 2.41895 19.2354 2.41888ZM12.1543 5.43451C12.4967 5.43451 12.8011 5.519 13.0674 5.68744C13.3364 5.85589 13.5471 6.08284 13.6992 6.3681C13.8541 6.65062 13.9316 6.96453 13.9316 7.30951C13.9316 7.66259 13.8516 7.98349 13.6914 8.27142C13.5338 8.55947 13.3174 8.78968 13.043 8.96088C12.7713 9.13198 12.4643 9.21766 12.1221 9.21771C11.7742 9.21771 11.4629 9.12872 11.1885 8.95209C10.9168 8.77548 10.7015 8.54377 10.5439 8.2558C10.3891 7.96775 10.3115 7.65763 10.3115 7.32611C10.3115 7.07619 10.36 6.8387 10.4551 6.61322C10.5501 6.38508 10.6801 6.18236 10.8457 6.0058C11.0141 5.82924 11.2099 5.69032 11.4326 5.58978C11.6554 5.48653 11.8962 5.43452 12.1543 5.43451Z" fill="#DBE2EA"/>
            </svg>
      .installment-block
        .installment-block__content
          .installment-block__title.text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2.color-black.text-uppercase Цікавить розтермінування?
          .installment-block__text
            p Розтермінування від забудовника — ваш зручний шлях до власної квартири! Якщо ви мрієте про власне житло, але не маєте можливості одразу оплатити повну суму, ми пропонуємо комфортні умови розтермінування, які дозволять вам стати власником квартири вже сьогодні.
            p Наше розтермінування передбачає індивідуальний підхід до кожного клієнта, прозорі умови та відсутність прихованих платежів. Ви можете комфортно сплачувати вартість квартири частинами протягом узгодженого періоду, не переплачуючи додаткових відсотків банкам і не витрачаючи час на складні формальності.
            p Обираючи розтермінування від забудовника, ви отримуєте надійність, стабільність та впевненість у майбутньому. Це вигідна можливість придбати житло за привабливою ціною, поступово сплачуючи за нього комфортними для вас платежами до завершення будівництва. Ми дбаємо про ваш комфорт та створюємо максимально доступні умови придбання омріяного житла.
            p Зверніться зручним для вас способом до нашого відділу продажу, аби ми розрахували найоптимальніші умови під ваші потреби.
            +button-primary('ДІЗНАТИСЬ БІЛЬШЕ')(data-callback-popup-call)
          .installment-block__img(data-image-reveal)
            .installment-block__img-wrap
              .installment-block__img-overlay(data-image-cover)
              <picture>
                <source srcset="./assets/images/single-flat/single-flat-installment.jpg" media="(min-width: 601px)">
                <source srcset="./assets/images/single-flat/single-flat-installment.jpg" media="(max-width: 600px)">
                <img data-image src="#", alt="", srcset="" loading="lazy"/>
              </picture>
    .single-flat-slider
      .single-flat-slider__content
        .text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2.color-black.text-uppercase ІНШІ ПЛАНУВАННЯ
        .single-flat-slider__nav
          button(type="button" data-single-flat-slider-prev).single-flat-slider__nav-button
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.5385 6L6 12M6 12L11.5385 18M6 12H18" stroke="#DBE2EA" stroke-width="2"/>
            </svg>
          button(type="button" data-single-flat-slider-next).single-flat-slider__nav-button
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.4615 18L18 12M18 12L12.4615 6M18 12H6" stroke="#DBE2EA" stroke-width="2"/>
            </svg>


      .single-flat-slider.swiper-container(data-single-flat-slider)
        .swiper-wrapper
          each val in [1,2,3,4,5,6,7,8,9,0]
            a.swiper-slide.planning-card(href='/single-flat?id=25' data-id='25')
              .planning-card__top 
                .planning-card__label PARK AVENUE
                button(type="button" data-favourite-single-button='25').plannings-favourite-button
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M16.9 13.3333C17.943 12.36 19 11.1933 19 9.66667C19 8.69421 18.5944 7.76158 17.8724 7.07394C17.1503 6.38631 16.1711 6 15.15 6C13.918 6 13.05 6.33333 12 7.33333C10.95 6.33333 10.082 6 8.85 6C7.82892 6 6.84965 6.38631 6.12764 7.07394C5.40562 7.76158 5 8.69421 5 9.66667C5 11.2 6.05 12.3667 7.1 13.3333L12 18L16.9 13.3333Z" stroke="#4D5858" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
              .planning-card__image
                .planning-card__image-wrap
                  img(src='./assets/images/test-plan.jpg' loading='lazy' alt='' onerror='this.style.opacity = 0;')
              .planning-card__middle
                .text-style-1920-h-4.color-gray 4-к
                span /
                .text-style-1920-h-4.color-gray 74 м²
              .planning-card__bottom
                .planning-card__bottom-group
                  | Будинок:&nbsp; 1
                .planning-card__bottom-group
                  | Секція:&nbsp; 1
                .planning-card__bottom-group
                  | Поверх:&nbsp; 1
  include ../includes/incredible-block.pug
  include ../includes/contact-screen.pug
  include ../includes/form-screen.pug
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
