.home-developer(data-home-developer)
  .home-developer__bg(data-home-developer-bg)
    img(src="./assets/images/home/home-developer/bg.svg", alt="", srcset="" loading="lazy")
  .home-developer__top-decor(data-home-developer-top-decor)
    img(src="./assets/images/home/home-developer/decor.svg", alt="", srcset="" loading="lazy")
  .home-developer__bottom-decor(data-home-developer-bottom-decor)
    img(src="./assets/images/home/home-developer/decor.svg", alt="", srcset="" loading="lazy")
  .home-developer__content
    .home-developer__circle.hide-on-tablet.hide-on-mobile
      .home-developer__circle-date 2017 р.
      .home-developer__circle-deadline
        .home-developer__circle-deadline-bg
          <svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M70.0005 -0.00720215L73.261 7.77818L77.3175 0.376266L79.7464 8.45982L84.5543 1.52247L86.1249 9.81562L91.6317 3.41884L92.3268 11.8307L98.4721 6.04462L98.2841 14.4831L105 9.37102L103.932 17.7436L111.145 13.3616L109.207 21.5766L116.84 17.9727L114.053 25.94L122.021 23.1537L118.417 30.7861L126.632 28.8478L122.25 36.0618L130.622 34.9928L125.51 41.7092L133.949 41.5212L128.163 47.6665L136.574 48.3616L130.178 53.8684L138.471 55.439L131.533 60.2469L139.617 62.6758L132.215 66.7323L140 69.9928L132.215 73.2533L139.617 77.3098L131.533 79.7387L138.471 84.5466L130.178 86.1172L136.574 91.624L128.163 92.3191L133.949 98.4644L125.51 98.2764L130.622 104.993L122.25 103.924L126.632 111.138L118.417 109.199L122.021 116.832L114.053 114.046L116.84 122.013L109.207 118.409L111.145 126.624L103.932 122.242L105 130.615L98.2841 125.503L98.4721 133.941L92.3268 128.155L91.6317 136.567L86.1249 130.17L84.5543 138.463L79.7464 131.526L77.3175 139.609L73.261 132.207L70.0005 139.993L66.74 132.207L62.6835 139.609L60.2546 131.526L55.4467 138.463L53.8761 130.17L48.3693 136.567L47.6742 128.155L41.5289 133.941L41.7169 125.503L35.0005 130.615L36.0695 122.242L28.8555 126.624L30.7938 118.409L23.1613 122.013L25.9477 114.046L17.9804 116.832L21.5843 109.199L13.3693 111.138L17.7513 103.924L9.37871 104.993L14.4908 98.2764L6.05231 98.4644L11.8384 92.3191L3.42653 91.624L9.82331 86.1172L1.53016 84.5466L8.46751 79.7387L0.383957 77.3098L7.78587 73.2533L0.000488281 69.9928L7.78587 66.7323L0.383957 62.6758L8.46751 60.2469L1.53016 55.439L9.82331 53.8684L3.42653 48.3616L11.8384 47.6665L6.05231 41.5212L14.4908 41.7092L9.37871 34.9928L17.7513 36.0618L13.3693 28.8478L21.5843 30.7861L17.9804 23.1537L25.9477 25.94L23.1613 17.9727L30.7938 21.5766L28.8555 13.3616L36.0695 17.7436L35.0005 9.37102L41.7169 14.4831L41.5289 6.04462L47.6742 11.8307L48.3693 3.41884L53.8761 9.81562L55.4467 1.52247L60.2546 8.45982L62.6835 0.376266L66.74 7.77818L70.0005 -0.00720215Z" fill="#4D5858"/>
          </svg>
        .home-developer__circle-deadline-title ЗДАНО
      .home-developer__circle-adress ВУЛ. СЛОБІДСЬКА
      .home-developer__circle-title.color-white Слобода Калинова
      .home-developer__circle-img
        .home-developer__circle-img-wrap
          img(src="./assets/images/home/home-developer/kalynova-sloboda.jpg", alt="", srcset="" loading="lazy")
    .home-developer__slogan.text-style-1920-h-2.color-white.text-style-768-h-2.text-style-375-h-2(data-split-lines-new-animation)
      span МІЦНИЙ ДОСВІД, ЩО СТОЇТЬ ЗА КОЖНИМ 
      span.color-red РЕАЛІЗОВАНИМ 
      span ПРОЄКТОМ
    .swiper-container.hide-on-desktop(data-not-desktop-developer-swiper)
      .swiper-wrapper
        .swiper-slide
          .home-developer__circle
            .home-developer__circle-date 2017 р.
            .home-developer__circle-deadline
              .home-developer__circle-deadline-bg
                <svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M70.0005 -0.00720215L73.261 7.77818L77.3175 0.376266L79.7464 8.45982L84.5543 1.52247L86.1249 9.81562L91.6317 3.41884L92.3268 11.8307L98.4721 6.04462L98.2841 14.4831L105 9.37102L103.932 17.7436L111.145 13.3616L109.207 21.5766L116.84 17.9727L114.053 25.94L122.021 23.1537L118.417 30.7861L126.632 28.8478L122.25 36.0618L130.622 34.9928L125.51 41.7092L133.949 41.5212L128.163 47.6665L136.574 48.3616L130.178 53.8684L138.471 55.439L131.533 60.2469L139.617 62.6758L132.215 66.7323L140 69.9928L132.215 73.2533L139.617 77.3098L131.533 79.7387L138.471 84.5466L130.178 86.1172L136.574 91.624L128.163 92.3191L133.949 98.4644L125.51 98.2764L130.622 104.993L122.25 103.924L126.632 111.138L118.417 109.199L122.021 116.832L114.053 114.046L116.84 122.013L109.207 118.409L111.145 126.624L103.932 122.242L105 130.615L98.2841 125.503L98.4721 133.941L92.3268 128.155L91.6317 136.567L86.1249 130.17L84.5543 138.463L79.7464 131.526L77.3175 139.609L73.261 132.207L70.0005 139.993L66.74 132.207L62.6835 139.609L60.2546 131.526L55.4467 138.463L53.8761 130.17L48.3693 136.567L47.6742 128.155L41.5289 133.941L41.7169 125.503L35.0005 130.615L36.0695 122.242L28.8555 126.624L30.7938 118.409L23.1613 122.013L25.9477 114.046L17.9804 116.832L21.5843 109.199L13.3693 111.138L17.7513 103.924L9.37871 104.993L14.4908 98.2764L6.05231 98.4644L11.8384 92.3191L3.42653 91.624L9.82331 86.1172L1.53016 84.5466L8.46751 79.7387L0.383957 77.3098L7.78587 73.2533L0.000488281 69.9928L7.78587 66.7323L0.383957 62.6758L8.46751 60.2469L1.53016 55.439L9.82331 53.8684L3.42653 48.3616L11.8384 47.6665L6.05231 41.5212L14.4908 41.7092L9.37871 34.9928L17.7513 36.0618L13.3693 28.8478L21.5843 30.7861L17.9804 23.1537L25.9477 25.94L23.1613 17.9727L30.7938 21.5766L28.8555 13.3616L36.0695 17.7436L35.0005 9.37102L41.7169 14.4831L41.5289 6.04462L47.6742 11.8307L48.3693 3.41884L53.8761 9.81562L55.4467 1.52247L60.2546 8.45982L62.6835 0.376266L66.74 7.77818L70.0005 -0.00720215Z" fill="#4D5858"/>
                </svg>
              .home-developer__circle-deadline-title ЗДАНО
            .home-developer__circle-adress ВУЛ. СЛОБІДСЬКА
            .home-developer__circle-title.color-white Калинова Слобода 
            .home-developer__circle-img
              .home-developer__circle-img-wrap
                img(src="./assets/images/home/home-developer/kalynova-sloboda.jpg", alt="", srcset="" loading="lazy")
        .swiper-slide
          .home-developer__circle
            .home-developer__circle-date 2020 р.
            .home-developer__circle-deadline
              .home-developer__circle-deadline-bg
                <svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M70.0005 -0.00720215L73.261 7.77818L77.3175 0.376266L79.7464 8.45982L84.5543 1.52247L86.1249 9.81562L91.6317 3.41884L92.3268 11.8307L98.4721 6.04462L98.2841 14.4831L105 9.37102L103.932 17.7436L111.145 13.3616L109.207 21.5766L116.84 17.9727L114.053 25.94L122.021 23.1537L118.417 30.7861L126.632 28.8478L122.25 36.0618L130.622 34.9928L125.51 41.7092L133.949 41.5212L128.163 47.6665L136.574 48.3616L130.178 53.8684L138.471 55.439L131.533 60.2469L139.617 62.6758L132.215 66.7323L140 69.9928L132.215 73.2533L139.617 77.3098L131.533 79.7387L138.471 84.5466L130.178 86.1172L136.574 91.624L128.163 92.3191L133.949 98.4644L125.51 98.2764L130.622 104.993L122.25 103.924L126.632 111.138L118.417 109.199L122.021 116.832L114.053 114.046L116.84 122.013L109.207 118.409L111.145 126.624L103.932 122.242L105 130.615L98.2841 125.503L98.4721 133.941L92.3268 128.155L91.6317 136.567L86.1249 130.17L84.5543 138.463L79.7464 131.526L77.3175 139.609L73.261 132.207L70.0005 139.993L66.74 132.207L62.6835 139.609L60.2546 131.526L55.4467 138.463L53.8761 130.17L48.3693 136.567L47.6742 128.155L41.5289 133.941L41.7169 125.503L35.0005 130.615L36.0695 122.242L28.8555 126.624L30.7938 118.409L23.1613 122.013L25.9477 114.046L17.9804 116.832L21.5843 109.199L13.3693 111.138L17.7513 103.924L9.37871 104.993L14.4908 98.2764L6.05231 98.4644L11.8384 92.3191L3.42653 91.624L9.82331 86.1172L1.53016 84.5466L8.46751 79.7387L0.383957 77.3098L7.78587 73.2533L0.000488281 69.9928L7.78587 66.7323L0.383957 62.6758L8.46751 60.2469L1.53016 55.439L9.82331 53.8684L3.42653 48.3616L11.8384 47.6665L6.05231 41.5212L14.4908 41.7092L9.37871 34.9928L17.7513 36.0618L13.3693 28.8478L21.5843 30.7861L17.9804 23.1537L25.9477 25.94L23.1613 17.9727L30.7938 21.5766L28.8555 13.3616L36.0695 17.7436L35.0005 9.37102L41.7169 14.4831L41.5289 6.04462L47.6742 11.8307L48.3693 3.41884L53.8761 9.81562L55.4467 1.52247L60.2546 8.45982L62.6835 0.376266L66.74 7.77818L70.0005 -0.00720215Z" fill="#4D5858"/>
                </svg>
              .home-developer__circle-deadline-title ЗДАНО
            .home-developer__circle-adress ВУЛ. Г. МАЗЕПИ 164
            .home-developer__circle-title.color-white Липки
            .home-developer__circle-img
              .home-developer__circle-img-wrap
                img(src="./assets/images/home/home-developer/lypky.jpg", alt="", srcset="" loading="lazy")
        .swiper-slide
          .home-developer__circle
            .home-developer__circle-date 2020 р.
            .home-developer__circle-deadline
              .home-developer__circle-deadline-bg
                <svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M70.0005 -0.00720215L73.261 7.77818L77.3175 0.376266L79.7464 8.45982L84.5543 1.52247L86.1249 9.81562L91.6317 3.41884L92.3268 11.8307L98.4721 6.04462L98.2841 14.4831L105 9.37102L103.932 17.7436L111.145 13.3616L109.207 21.5766L116.84 17.9727L114.053 25.94L122.021 23.1537L118.417 30.7861L126.632 28.8478L122.25 36.0618L130.622 34.9928L125.51 41.7092L133.949 41.5212L128.163 47.6665L136.574 48.3616L130.178 53.8684L138.471 55.439L131.533 60.2469L139.617 62.6758L132.215 66.7323L140 69.9928L132.215 73.2533L139.617 77.3098L131.533 79.7387L138.471 84.5466L130.178 86.1172L136.574 91.624L128.163 92.3191L133.949 98.4644L125.51 98.2764L130.622 104.993L122.25 103.924L126.632 111.138L118.417 109.199L122.021 116.832L114.053 114.046L116.84 122.013L109.207 118.409L111.145 126.624L103.932 122.242L105 130.615L98.2841 125.503L98.4721 133.941L92.3268 128.155L91.6317 136.567L86.1249 130.17L84.5543 138.463L79.7464 131.526L77.3175 139.609L73.261 132.207L70.0005 139.993L66.74 132.207L62.6835 139.609L60.2546 131.526L55.4467 138.463L53.8761 130.17L48.3693 136.567L47.6742 128.155L41.5289 133.941L41.7169 125.503L35.0005 130.615L36.0695 122.242L28.8555 126.624L30.7938 118.409L23.1613 122.013L25.9477 114.046L17.9804 116.832L21.5843 109.199L13.3693 111.138L17.7513 103.924L9.37871 104.993L14.4908 98.2764L6.05231 98.4644L11.8384 92.3191L3.42653 91.624L9.82331 86.1172L1.53016 84.5466L8.46751 79.7387L0.383957 77.3098L7.78587 73.2533L0.000488281 69.9928L7.78587 66.7323L0.383957 62.6758L8.46751 60.2469L1.53016 55.439L9.82331 53.8684L3.42653 48.3616L11.8384 47.6665L6.05231 41.5212L14.4908 41.7092L9.37871 34.9928L17.7513 36.0618L13.3693 28.8478L21.5843 30.7861L17.9804 23.1537L25.9477 25.94L23.1613 17.9727L30.7938 21.5766L28.8555 13.3616L36.0695 17.7436L35.0005 9.37102L41.7169 14.4831L41.5289 6.04462L47.6742 11.8307L48.3693 3.41884L53.8761 9.81562L55.4467 1.52247L60.2546 8.45982L62.6835 0.376266L66.74 7.77818L70.0005 -0.00720215Z" fill="#4D5858"/>
                </svg>
              .home-developer__circle-deadline-title ЗДАНО
            .home-developer__circle-adress ВУЛ. О. БЛАВАЦЬКОГО
            .home-developer__circle-title.color-white Опришівська Слобода
            .home-developer__circle-img
              .home-developer__circle-img-wrap
                img(src="./assets/images/home/home-developer/opryshivska-sloboda.jpg", alt="", srcset="")
    .home-developer__title-block
      .home-developer__title-block-title.text-style-1920-h-1.text-style-768-h-1.text-style-375-h-1.color-red(data-split-lines-new-animation) ДЕВЕЛОПЕР
      .home-developer__title-block-text.text-style-1920-h-3.text-style-768-h-3.text-style-375-h-3(data-split-lines-new-animation)
        span «Ярковиця» — один із лідерів ринку житлового будівництва в Івано- Франківську, який 
        span.color-red працює з 2002 року. 
        span Компанія відома своєю системністю, відповідальним підходом до забудови та якістю виконання. 
    .home-developer__circle.home-developer__circle--reverse.hide-on-tablet.hide-on-mobile
      .home-developer__circle-date 2020 р.
      .home-developer__circle-deadline
        .home-developer__circle-deadline-bg
          <svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M70.0005 -0.00720215L73.261 7.77818L77.3175 0.376266L79.7464 8.45982L84.5543 1.52247L86.1249 9.81562L91.6317 3.41884L92.3268 11.8307L98.4721 6.04462L98.2841 14.4831L105 9.37102L103.932 17.7436L111.145 13.3616L109.207 21.5766L116.84 17.9727L114.053 25.94L122.021 23.1537L118.417 30.7861L126.632 28.8478L122.25 36.0618L130.622 34.9928L125.51 41.7092L133.949 41.5212L128.163 47.6665L136.574 48.3616L130.178 53.8684L138.471 55.439L131.533 60.2469L139.617 62.6758L132.215 66.7323L140 69.9928L132.215 73.2533L139.617 77.3098L131.533 79.7387L138.471 84.5466L130.178 86.1172L136.574 91.624L128.163 92.3191L133.949 98.4644L125.51 98.2764L130.622 104.993L122.25 103.924L126.632 111.138L118.417 109.199L122.021 116.832L114.053 114.046L116.84 122.013L109.207 118.409L111.145 126.624L103.932 122.242L105 130.615L98.2841 125.503L98.4721 133.941L92.3268 128.155L91.6317 136.567L86.1249 130.17L84.5543 138.463L79.7464 131.526L77.3175 139.609L73.261 132.207L70.0005 139.993L66.74 132.207L62.6835 139.609L60.2546 131.526L55.4467 138.463L53.8761 130.17L48.3693 136.567L47.6742 128.155L41.5289 133.941L41.7169 125.503L35.0005 130.615L36.0695 122.242L28.8555 126.624L30.7938 118.409L23.1613 122.013L25.9477 114.046L17.9804 116.832L21.5843 109.199L13.3693 111.138L17.7513 103.924L9.37871 104.993L14.4908 98.2764L6.05231 98.4644L11.8384 92.3191L3.42653 91.624L9.82331 86.1172L1.53016 84.5466L8.46751 79.7387L0.383957 77.3098L7.78587 73.2533L0.000488281 69.9928L7.78587 66.7323L0.383957 62.6758L8.46751 60.2469L1.53016 55.439L9.82331 53.8684L3.42653 48.3616L11.8384 47.6665L6.05231 41.5212L14.4908 41.7092L9.37871 34.9928L17.7513 36.0618L13.3693 28.8478L21.5843 30.7861L17.9804 23.1537L25.9477 25.94L23.1613 17.9727L30.7938 21.5766L28.8555 13.3616L36.0695 17.7436L35.0005 9.37102L41.7169 14.4831L41.5289 6.04462L47.6742 11.8307L48.3693 3.41884L53.8761 9.81562L55.4467 1.52247L60.2546 8.45982L62.6835 0.376266L66.74 7.77818L70.0005 -0.00720215Z" fill="#4D5858"/>
          </svg>
        .home-developer__circle-deadline-title ЗДАНО
      .home-developer__circle-adress ВУЛ. Г. МАЗЕПИ 164
      .home-developer__circle-title.color-white Липки
      .home-developer__circle-img
        .home-developer__circle-img-wrap
          img(src="./assets/images/home/home-developer/lypky.jpg", alt="", srcset="" loading="lazy")
    .home-developer__circle.hide-on-tablet.hide-on-mobile
      .home-developer__circle-date 2020 р.
      .home-developer__circle-deadline
        .home-developer__circle-deadline-bg
          <svg width="140" height="140" viewBox="0 0 140 140" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M70.0005 -0.00720215L73.261 7.77818L77.3175 0.376266L79.7464 8.45982L84.5543 1.52247L86.1249 9.81562L91.6317 3.41884L92.3268 11.8307L98.4721 6.04462L98.2841 14.4831L105 9.37102L103.932 17.7436L111.145 13.3616L109.207 21.5766L116.84 17.9727L114.053 25.94L122.021 23.1537L118.417 30.7861L126.632 28.8478L122.25 36.0618L130.622 34.9928L125.51 41.7092L133.949 41.5212L128.163 47.6665L136.574 48.3616L130.178 53.8684L138.471 55.439L131.533 60.2469L139.617 62.6758L132.215 66.7323L140 69.9928L132.215 73.2533L139.617 77.3098L131.533 79.7387L138.471 84.5466L130.178 86.1172L136.574 91.624L128.163 92.3191L133.949 98.4644L125.51 98.2764L130.622 104.993L122.25 103.924L126.632 111.138L118.417 109.199L122.021 116.832L114.053 114.046L116.84 122.013L109.207 118.409L111.145 126.624L103.932 122.242L105 130.615L98.2841 125.503L98.4721 133.941L92.3268 128.155L91.6317 136.567L86.1249 130.17L84.5543 138.463L79.7464 131.526L77.3175 139.609L73.261 132.207L70.0005 139.993L66.74 132.207L62.6835 139.609L60.2546 131.526L55.4467 138.463L53.8761 130.17L48.3693 136.567L47.6742 128.155L41.5289 133.941L41.7169 125.503L35.0005 130.615L36.0695 122.242L28.8555 126.624L30.7938 118.409L23.1613 122.013L25.9477 114.046L17.9804 116.832L21.5843 109.199L13.3693 111.138L17.7513 103.924L9.37871 104.993L14.4908 98.2764L6.05231 98.4644L11.8384 92.3191L3.42653 91.624L9.82331 86.1172L1.53016 84.5466L8.46751 79.7387L0.383957 77.3098L7.78587 73.2533L0.000488281 69.9928L7.78587 66.7323L0.383957 62.6758L8.46751 60.2469L1.53016 55.439L9.82331 53.8684L3.42653 48.3616L11.8384 47.6665L6.05231 41.5212L14.4908 41.7092L9.37871 34.9928L17.7513 36.0618L13.3693 28.8478L21.5843 30.7861L17.9804 23.1537L25.9477 25.94L23.1613 17.9727L30.7938 21.5766L28.8555 13.3616L36.0695 17.7436L35.0005 9.37102L41.7169 14.4831L41.5289 6.04462L47.6742 11.8307L48.3693 3.41884L53.8761 9.81562L55.4467 1.52247L60.2546 8.45982L62.6835 0.376266L66.74 7.77818L70.0005 -0.00720215Z" fill="#4D5858"/>
          </svg>
        .home-developer__circle-deadline-title ЗДАНО
      .home-developer__circle-adress ВУЛ. О. БЛАВАЦЬКОГО
      .home-developer__circle-title.color-white Опришівська Слобода
      .home-developer__circle-img
        .home-developer__circle-img-wrap
          img(src="./assets/images/home/home-developer/opryshivska-sloboda.jpg", alt="", srcset="" loading="lazy")
    .home-developer__text-block.home-developer__text-block--flex.text-style-1920-h-3.text-style-768-h-3.text-style-375-h-3
      .home-developer__text-block-inner 
        span(data-split-lines-new-animation).color-red У портфелі — десятки житлових комплексів, 
        span(data-split-lines-new-animation) спроєктованих з урахуванням потреб сучасного міста: продумана інфраструктура, енергоефективні рішення, зручні планування та озеленення прибудинкових територій.
      .home-developer__slogan.text-style-1920-h-2.text-style-768-h-2.text-style-375-h-2.color-white(data-split-lines-new-animation)
        span ЯРКОВИЦЯ СТВОРЮЄ 
        span.color-red СЕРЕДОВИЩЕ ДЛЯ ЖИТТЯ, 
        span А НЕ ПРОСТО МЕТРИ НА ПЛАНІ